<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ParkingConfig" type="Parking.Core.Configuration.ParkingConfig,Parking.Core" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>

    <!--通道数据上报间间隔(秒)-->
    <add key="ChannelDataUpLoadInterval" value="0"/>
    <!--车牌识别时间间隔(分钟)-->
    <add key="CarRecognitionInterval" value="2"/>
    <!--区域剩余车位统计时间间隔(秒)-->
    <add key="RemainingTimeInterval" value="2"/>
    <!--区域剩余车位统计时间间隔(秒)-->
    <add key="LoginFromLocal" value="false"/>
    <!--最低识别率转化成百分比-->
    <add key="RecognitionRate" value="10"/>

    <!--系统配置-->
    <add key="AutoUpdateCoreFiles" value="true"/>
    <add key="LogLevel" value="Debug"/>
    <add key="MaxLogFileSize" value="10"/>
    <!--服务地址-->
    <add key="serverUrl" value="http://127.0.0.1:8070/PLWC-Web/workstation" />
    <add key="CreateNewLogFileOnMaxSize" value="true"/>
    <add key="SQLConnString" value="server=127.0.0.1;user id=sa;password=123456;database=LONIX-PARKING;"/>
    <!--绑定支付的APPID-->
    <add key="WX_APPID" value="wx1174dcfbb189b4ee" />
    <!--商户号-->
    <add key="WX_MCHID" value="1273406601" />
    <!--商户支付密钥-->
    <add key="WX_KEY" value="szlnkzngfyxgshsjwxzf20161125yfb1" />
    <!--公众帐号-->
    <add key="WX_APPSECRET" value="28b1cabc2380c4c098af0a561460fc72" />

  </appSettings>

  <ParkingConfig>
  </ParkingConfig>
  <log4net>
    <!--The config of System's default level - FATAL-->
    <appender name="FATAL" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\_log\ds_fatal.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="CountDirection" value="0"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <param name="DatePattern" value="'.'yyyyMMdd"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>

    <!--The config of System's default level - ERROR-->
    <appender name="ERROR" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\_log\ds_error.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="CountDirection" value="0"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <param name="DatePattern" value="'.'yyyyMMdd"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>

    <!--The config of System's default level - WARN-->
    <appender name="WARN" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\_log\ds_warn.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="CountDirection" value="0"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <param name="DatePattern" value="'.'yyyyMMdd"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="WARN"/>
      </filter>
    </appender>

    <!--The config of System's default level - INFO-->
    <appender name="INFO" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\_log\ds_info.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="CountDirection" value="0"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <param name="DatePattern" value="'.'yyyyMMdd"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>

    <!--The config of System's default level - DEBUG-->
    <appender name="DEBUG" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\_log\ds_debug.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="CountDirection" value="0"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <param name="DatePattern" value="'.'yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
    </appender>
    <!--控制台显示-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d - %m%0.0exception%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>

    <logger name="log4netMainLogger">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="DEBUG"/>
      <appender-ref ref="INFO"/>
      <appender-ref ref="WARN"/>
      <appender-ref ref="ERROR"/>
      <appender-ref ref="FATAL"/>
    </logger>

  </log4net>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="23:59:59"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Lonix.WcfService.CustomService"  behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8000/Lonix.Service/CustomService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Lonix.WcfService.ICustomService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

  </system.serviceModel>
</configuration>